################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ngf-automation/v15
/.vs/slnx.sqlite
/contrib/azure/python/multiip_fwrule_rewrite (2).py
/.vs/slnx.sqlite-journal
/.psproj
*.pssproj
/.vs/ngf-automation/v16
/contrib/azure/powershell/BarracudaCGF
/contrib/azure/powershell/campus/ngfdeployment/test
/.vs/tasks.vs.json
/.vs/PythonSettings.json
