################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ngf-automation/v15
/.vs/slnx.sqlite
/contrib/azure/python/multiip_fwrule_rewrite (2).py
